<launch>
    <node pkg="beginner_tutorials" name="listener" type="image_recv_4" output="screen"/>
    <node pkg="beginner_tutorials" name="talker1" type="image_send"/>
    <node pkg="beginner_tutorials" name="talker2" type="image_send0"/>
    <node pkg="beginner_tutorials" name="talker3" type="image_send1"/>
    <node pkg="beginner_tutorials" name="talker4" type="image_send2"/>
</launch>